# ─── API ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# ─── Locale ───────────────────────────────────────────────────────────────────
# Default locale for the staff interface (fr | nl | en)
NEXT_PUBLIC_DEFAULT_LOCALE=fr
